@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-from-left {
  animation: slide-in-from-left 0.5s ease-out forwards;
}

.blink-on-and-off {
  animation: blink-on-and-off 1s infinite;
}

@keyframes blink-on-and-off {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
