@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-custom {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #a1a097 #a1a097; /* Color for Firefox */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #a1a097;
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #a1a097;
  border-radius: 10px;
  border: 2px solid #a1a097;
}

@keyframes blink-on-and-off {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0.3;
  }
}

.blink-on-and-off {
  animation: blink-on-and-off 2s ease-in-out infinite;
}
